<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Med Monitor API</title>
</head>
<body>
  <section id = "title">
    <h1>
      Med Monitor API
    </h1>
  </section>
  <!-- Login -->
  <section id ="rutas">
    <div class = "rutas">
      <h2 id ="ruta">https://med-monitor-api.herokuapp.com/api/v1/pacientes/login</h2>
      <h1>post</h1>
      <div class="descripcion">
        <h3 id = "info"> Hacer login </h3>
        <p>{</p>
         <p>"user":""</p>
         <p>"password":""</p>
         <p>}</p>
      </div>
    </div>
  </section>
  <!--Sintomas -->
  <section id ="rutas">
    <div class = "rutas">
      <h2 id ="ruta">https://med-monitor-api.herokuapp.com/api/v1/pacientes/:id</h2>
      <h1>get</h1>
      <div class="descripcion">
        <h3 id = "info"> Sintomas de un paciente </h3>
        <p>{</p>
         <p>"user":""</p>
         <p>"password":""</p>
         <p>}</p>
      </div>
    </div>
  </section>
</body>
</html>
